<div class="container-fluid">
  <div class="row g-0">
    <!-- Columna para el sidebar -->
    <div class="col-3">
      <div class="sidebar">
        <nav class="nav flex-column" aria-label="Sidebar navigation">

          <a class="nav-link" routerLink="/Dashboard_usuario">
            <i class="bi bi-speedometer2 text-primary me-2"></i> Dashboard
          </a>

          

          <a class="nav-link" routerLink="/Alertas_usuario">
            <i class="bi bi-exclamation-triangle-fill text-danger me-2"></i> Alertas
          </a>

          <!-- Menú con subopciones -->
          <a class="nav-link" data-bs-toggle="collapse" href="#sub-menu" role="button" aria-expanded="false" aria-controls="sub-menu">
            <i class="bi bi-bar-chart-line-fill text-primary me-2"></i> Graficos <i class="bi bi-caret-down-fill float-end"></i>
          </a>

          <div class="collapse ps-4" id="sub-menu">
            <a class="nav-link" routerLink="/Graficos_usuario">
              <i class="bi bi-bar-chart-line-fill text-primary me-2"></i> Grafico 1
            </a>
            <a class="nav-link" routerLink="/Proyecto2">
              <i class="bi bi-bar-chart-line-fill text-primary me-2"></i> Grafico 2
            </a>
            <a class="nav-link" routerLink="/Proyecto3">
              <i class="bi bi-bar-chart-line-fill text-primary me-2"></i> Grafico 3
            </a>
          </div>

          <a class="nav-link" routerLink="/Configuraciones_usuario">
            <i class="bi bi-gear me-2"></i> Configuraciones
          </a>
          <a class="nav-link" routerLink="/Mapas_usuario">
            <i class="bi bi-geo-alt-fill"></i> Mapas
          </a>
          <a class="nav-link" routerLink="/Reportes_usuario">
            <i class="bi bi-file-earmark-bar-graph-fill text-info me-2"></i> Reportes
          </a>
          <a class="nav-link" routerLink="/Perfil_usuario">
            <i class="bi bi-person-circle"></i> Perfil
          </a>
          <a class="nav-link" routerLink="/land">
            <i class="bi bi-box-arrow-right me-2"></i> Salir
          </a>

        </nav>
      </div>
    </div>

    <!-- Aquí puedes agregar otra columna con contenido -->
    <div class="col-9">
      <!-- Contenido principal -->
    </div>
  </div>
</div>
