<div class="container-fluid">
  <div class="row g-0">
    <div class="col-2">
      <!-- Espacio reservado para sidebar u otros -->
    </div>

    <div class="col-9">
      <table class="table table-striped table-bordered">
        <thead class="table-dark">
          <tr>
            <th>Río</th>
            <th>Caudal</th>
            <th>Condición</th>
            <th>Pronóstico</th>
            <th>Período</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let alerta of alertas">
            <td>{{ alerta.Rios }}</td>
            <td>{{ alerta.Niveles }} m3/s</td>
            <td>{{ alerta.Condiciones }}</td>
            <td>{{ alerta.Pronosticos }}</td>
            <td>{{ alerta.Periodos }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
