<div class="container-fluid">
  <div class="row g-0">
    <div class="col-2">
      <!-- Espacio reservado para sidebar -->
    </div>

    <div class="col-10">
      <table class="table table-striped table-bordered">
        <thead class="table-dark">
          <tr>
            <th>Cuenca</th>
            <th>Río</th>
            <th>Caudal</th>
            <th>Condición</th>
            <th>Pronóstico</th>
            <th>Periodo</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let alerta of alertas">
            <td>{{ alerta.Cuencas }}</td>
            <td>{{ alerta.Rios }}</td>
            <td>{{ alerta.Niveles }} m3/s</td>
            <td>{{ alerta.Condiciones }}</td>
            <td>{{ alerta.Pronosticos }}</td>
            <td>{{ alerta.Periodos }}</td>
            <td>
              <button class="btn btn-sm btn-warning" (click)="editarAlerta(alerta)">Editar</button>
              <button class="btn btn-sm btn-danger" (click)="eliminarAlerta(alerta.id_alertas)">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

