<div class="Fondo">
  <div class="Descripcion">
    <h1 class="Titulo">HidroAlert</h1>
    <p class="parrafo">
      Plataforma de Alerta Temprana para Desbordes de Ríos en Cochabamba
    </p>
  </div>

  <form class="Login" [formGroup]="registroForm" (ngSubmit)="onSubmit()">
    <input
      type="email"
      class="entradas"
      placeholder="Correo"
      required
      formControlName="correo"
    />

    <input
      [type]="verPassword ? 'text' : 'password'"
      class="entradas"
      placeholder="Contraseña"
      required
      formControlName="password"
    />

    <label class="Mostrarc">
      <input type="checkbox" (change)="verPassword = !verPassword" />
      Mostrar Contraseña
    </label>

    <input class="Boton_inicio" type="submit" value="Iniciar Sesión" />
    <a
      class="Boton_registrar"
      routerLink="/crear"
      routerLinkActive="active"
      >Crear una cuenta</a
    >
  </form>
</div>

    
   
