
<div class="Fondo">
    <div class="Descripcion">
            <h1 class="Titulo">HidroAlert</h1>
            <p class="parrafo">Plataforma de Alerta Temprana para Desbordes de Rios en Cochabamba</p>
    </div>
    <form class="Login" method="post" action="/control">
        <input type="email" class="entradas" placeholder="Correo" required name="email">
        <input type="password" class="entradas" placeholder="Contraseña" required name="contrasena">
        <input class="Boton_inicio" type="submit" value="Iniciar Sesión">       
        <a class="Boton_registrar" routerLink="/crear" routerLinkActive="active">Crear una cuenta</a>
        
        <label class="Mostrarc">
            <input type="checkbox" name="opcion1" value="valor1">
            Mostrar Contraseña
        </label>
    </form>
</div>

    
   
