<div class="sidebar">
    <nav class="nav flex-column" aria-label="Sidebar navigation">
      <a class="nav-link" href="#">
        <span class="icon"><i class="bi bi-grid"></i></span>
        <span class="description">Dashboard</span>
      </a>
      <a class="nav-link" href="#">
        <span class="icon"><i class="bi bi-clipboard-check"></i></span>
        <span class="description">Posts</span>
      </a>
      <a class="nav-link" href="#">
        <span class="icon"><i class="bi bi-bell"></i></span>
        <span class="description">Notifications</span>
      </a>
      
      <a class="nav-link" href="#" data-bs-toggle="collapse" data-bs-target="#sub-menu" aria-expanded="false" aria-controls="sub-menu">
        <span class="icon"><i class="bi bi-box-seam"></i></span>
        <span class="description">Projects <i class="bi bi-caret-down-fill"></i></span>
      </a>
  
      <div class="sub-menu collapse" id="sub-menu">
        <a class="nav-link" href="#"><i class="bi bi-file-earmark-check"></i> Project 1</a>
        <a class="nav-link" href="#"><i class="bi bi-file-earmark-check"></i> Project 2</a>
        <a class="nav-link" href="#"><i class="bi bi-file-earmark-check"></i> Project 3</a>
        
      </div>
      <a class="nav-link" href="#"><i class="bi bi-gear"></i> configuraciones</a>
      
      <a class="nav-link" href="#"><i class="bi bi-map"></i> Mapa</a>
      <a class="nav-link" href="#"><i class="bi bi-bar-chart"></i> Reportes</a>
      <a class="nav-link" href="#"><i class="bi bi-person-circle"></i> Perfil</a>
      <a class="nav-link" href="#"><i class="bi bi-box-arrow-right"></i> Salir</a>
    </nav>
  </div>
  
  <main class="main-content">
    <h2>Responsive</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa est dolor eius labore porro nihil dolorem!</p>
  </main>
