.sidebar{
    position:fixed;
    top:0;
    left:0;
    height: 100%;
    width: 200px;
    padding-top: 20px;
    background-color: #030620;
    transition:width 0.3s;

}
.sidebar .nav-link{
    display: flex;
    align-items: center;
    gap:20px;
    padding:10px 20px;
    color:#fff;
}
.sidebar .description{
    font-size: 14px;
}
.sidebar .nav-link:hover{
    background: linear-gradient(to right, #023d20, #193257);
}
.sidebar .submenu{
    background-color:  #030620;;
    padding-left: 3%;
}
.main-content{
    height:100%;
    margin-left: 200px;
    padding:20px;

}
@media(max-width:480px){
    .sidebar{
        width: 60px;
    }
    .sidebar.description{
        display: none;
    }
    .sidebar .nav-link{
        justify-content: center;
    }
    .main-content{
        margin: left 60px;
    }
}
.offcanvas-custom-width {
    width: 200px; 
  }