<div class="Fondo">
  <div class="Descripcion">
    <h1 class="Titulo">Crea una Cuenta</h1>
  </div>

  <form class="Login" [formGroup]="registroForm" (ngSubmit)="onSubmit()">
    <input
      type="email"
      class="entradas"
      placeholder="Correo"
      required
      formControlName="correo"
    />

    <input
      [type]="verPassword ? 'text' : 'password'"
      class="entradas"
      placeholder="Contraseña"
      required
      formControlName="password"
    />

    <div class="acomodar">
      <input
        type="text"
        class="entradas2"
        placeholder="latitud"
        required
        formControlName="latitud"
      />
      <button type="button" (click)="abrirModalCoordenadas()">Buscar</button>
    </div> <!-- ✅ Cerramos el primer div correctamente -->

    <div class="acomodar">
      <input
        type="text"
        class="entradas22"
        placeholder="longitud"
        required
        formControlName="longitud"
      />
    </div>

    <input
      type="number"
      class="entradas"
      placeholder="Nro de Celular"
      required
      formControlName="celular"
    />

    <input
      type="text"
      class="entradas"
      placeholder="Nombre de usuario"
      required
      formControlName="nombre"
    />

    <label class="Mostrarc">
      <input type="checkbox" (change)="verPassword = !verPassword" />
      Mostrar Contraseña
    </label>

    <input class="Boton_registrar" type="submit" value="Crear Cuenta" />
    <a class="Boton_volver" routerLink="/login" routerLinkActive="active">Volver</a>
  </form>
</div>

