<div class="container-fluid">
  <div class="row g-0">
    <!-- Columna para el sidebar -->
    <div class="col-3">
      <div class="sidebar">
        <nav class="nav flex-column" aria-label="Sidebar navigation">

          <a class="nav-link" routerLink="/Dashboard">
            <i class="bi bi-grid me-2"></i> Dashboard
          </a>

          <a class="nav-link" routerLink="/Usuarios">
            <i class="bi bi-clipboard-check me-2"></i> Usuarios
          </a>

          <a class="nav-link" routerLink="/Alertas">
            <i class="bi bi-bell me-2"></i> Alertas
          </a>

          <!-- Menú con subopciones -->
          <a class="nav-link" data-bs-toggle="collapse" href="#sub-menu" role="button" aria-expanded="false" aria-controls="sub-menu">
            <i class="bi bi-box-seam me-2"></i> Proyectos <i class="bi bi-caret-down-fill float-end"></i>
          </a>

          <div class="collapse ps-4" id="sub-menu">
            <a class="nav-link" routerLink="/Proyecto1">
              <i class="bi bi-file-earmark-check me-2"></i> Proyecto 1
            </a>
            <a class="nav-link" routerLink="/Proyecto2">
              <i class="bi bi-file-earmark-check me-2"></i> Proyecto 2
            </a>
            <a class="nav-link" routerLink="/Proyecto3">
              <i class="bi bi-file-earmark-check me-2"></i> Proyecto 3
            </a>
          </div>

          <a class="nav-link" routerLink="/Configuraciones">
            <i class="bi bi-gear me-2"></i> Configuraciones
          </a>
          <a class="nav-link" routerLink="/Mapas">
            <i class="bi bi-map me-2"></i> Mapas
          </a>
          <a class="nav-link" routerLink="/Reportes">
            <i class="bi bi-bar-chart me-2"></i> Reportes
          </a>
          <a class="nav-link" routerLink="/Perfil">
            <i class="bi bi-person-circle me-2"></i> Perfil
          </a>
          <a class="nav-link" routerLink="/Salir">
            <i class="bi bi-box-arrow-right me-2"></i> Salir
          </a>

        </nav>
      </div>
    </div>

    <!-- Aquí puedes agregar otra columna con contenido -->
    <div class="col-9">
      <!-- Contenido principal -->
    </div>
  </div>
</div>
